<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.libii.sso.unity.dao.UnityInfoMapper">
  <resultMap id="BaseResultMap" type="com.libii.sso.unity.domain.UnityInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="cdn_path" jdbcType="VARCHAR" property="cdnPath" />
    <result column="local_path" jdbcType="VARCHAR" property="localPath" />
    <result column="cdn_path" jdbcType="VARCHAR" property="cdnPath" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
</mapper>